<configuration debug="true">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <withJansi>true</withJansi>

    <encoder>
      <pattern>%d [%thread] %highlight(%-5level) %cyan(%logger{15}) - %msg %n</pattern>
    </encoder>
  </appender>

  <logger name="sharry" level="debug" />
  <logger name="sharry.store.FileStore" level="debug"/>

  <logger name="emil" level="debug" />
  <logger name="org.http4s" level="info"/>

  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
