version: '3.7'
services:
  restserver:
    image: eikek0/sharry:latest
    container_name: sharry
    command: /opt/sharry.conf
    expose:
      - 9090 # informational only
    ports:
      - "9090:9090"
    volumes:
      - ${PWD}/sharry.conf:/opt/sharry.conf
    healthcheck:
      test: ["CMD-SHELL", "wget --spider http://localhost:9090/api/v2/open/info/version"]
      interval: 1m
      timeout: 10m
      retries: 2
      start_period: 30s
    depends_on:
      db:
        condition: service_healthy
  db:
    image: postgres:17.6
    container_name: postgres_db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=dbuser
      - POSTGRES_PASSWORD=dbpass
      - POSTGRES_DB=dbname
      - PGUSER=dbuser
    healthcheck:
      test: pg_isready -q -d dbname
      interval: 15s
      timeout: 5s # pg_isready has a 3 second timeout by default so actually this doesn't matter very much
      retries: 3
      start_period: 15s
volumes:
  postgres_data:
