<configuration scan="true">
  <define name="loglevel" class="sharry.cli.LoggingProperty">
    <name>loglevel</name>
  </define>

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %level [%thread] %logger [%file:%line] %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="sharry" level="${loglevel}" />

  <root level="warn">
    <appender-ref ref="stdout"/>
  </root>
</configuration>
