/* Sharry CSS */

.default-layout {
    background: #fff;
    height: 100vh;
}

.default-layout .main-content {
    margin-top: 45px;
}

.default-layout .main-content h1 {
    padding-top: 15px;
}

.default-layout a.header.item > img.ui.image.logo-icon,
.default-layout a.icon.item > img.image.icon.logo-icon {
    height: 14px;
    margin-right: 16px;
}

.default-layout .home-page > .segment {
    margin-top: 110px;
}

.default-layout .share-description {
    font-size: 1.14285714rem;
    line-height: 1.5;
}

.default-layout .preview-image {
    max-height: 300px;
    width: 290px;
}

.default-layout div.zoom-container {
    max-height: 95%;
}
.default-layout div.zoom-container.white {
    background: #fff;
}
.default-layout div.zoom-container.fixed-height {
    height: 95%;
}

.default-layout iframe.zoom-iframe {
    width: 100%;
    height: 97%;
    background: #fff;
    border: 0;
}
.default-layout img.zoom-image {
    max-width: 100%; /* must work for portrait and landscape images */
    height: auto;
    max-height: 96%;
}
.default-layout video.zoom-video {
    width: 100%;
    height: auto;
    max-height: 96%;
}
.default-layout div.zoom-controls {
    position: absolute;
    top: 0.5em;
}

.default-layout .documentation-link {
    text-align: center;
    font-size: smaller;
}

.login-layout, .register-layout, .newinvite-layout {
    background: #aaa;
    height: 101vh;
}

.login-layout .login-view, .register-layout .register-view {
    background: #fff;
    position: relative;
    top: 2vh;
}

label.ui.button input[type="file"] {
    display: none;
}

.ui.form .markdown-preview {
    overflow: auto;
    max-height: 300px;
}
.ui.form .markdown-split > textarea.markdown-editor {
    height: 100%;
    max-height: 300px;
}
.ui.form textarea.markdown-editor {
    max-height: 300px;
}
.ui.form .mini.menu a.help-link {
    color: #4183c4
}

label span.muted {
    font-size: smaller;
    color: rgba(0,0,0,0.6);
    margin-left: 0.5em;
}

.ui > pre.url {
    font-size: smaller;
    margin: 5px 5px;
}

.ui.header>img.logo.image {
    width: 220px;
}

.ui.dropdown.open {
    z-index: 20;
}

.invisible {
    display: none !important;
}

table.selectable > tbody > tr {
    cursor: pointer;
}

@media (min-height: 320px) {
  .ui.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: x-small;
  }
}
