name: CI
on:
  pull_request:
jobs:
  nix-build:
    if: false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v26
      - run: nix build .#sharry-dev
  ci-matrix:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v4.1.5
        with:
          fetch-depth: 100
      - uses: cachix/install-nix-action@v26
      - name: Fetch tags
        run: git fetch --depth=100 origin +refs/tags/*:refs/tags/*
      - name: Coursier cache
        uses: coursier/cache-action@v6
      - name: sbt ci ${{ github.ref }}
        run: nix develop .#ci --command sbt ci
  ci:
    runs-on: ubuntu-22.04
    needs: [ci-matrix]
    steps:
      - name: Aggregate of lint, and all tests
        run: echo "ci passed"
