name: Release
on:
  push:
    tags:
      - 'v*'
jobs:
  release:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: true
    steps:
      - uses: actions/checkout@v4.2.0
        with:
          fetch-depth: 0
      - uses: cachix/install-nix-action@v29
      - name: Coursier cache
        uses: coursier/cache-action@v6
      - name: Set current version
        run:  echo "SHARRY_VERSION=$(cat version.sbt | grep version | cut -d= -f2 | xargs)" >> $GITHUB_ENV
      - name: sbt make-pkg (${{ env.SHARRY_VERSION }})
        run: nix develop .#ci --command sbt make-pkg
      - uses: meeDamian/github-release@2.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          name: Sharry ${{ env.SHARRY_VERSION }}
          gzip: false
          draft: true
          prerelease: false
          allow_override: false
          files: >
            modules/restserver/target/sharry-restserver_${{ env.SHARRY_VERSION }}_all.deb
            modules/restserver/target/universal/sharry-restserver-${{ env.SHARRY_VERSION }}.zip
